# GitHub API Configuration
GITHUB_TOKEN=your_github_personal_access_token_here

# SonarQube Configuration
SONAR_HOST=http://localhost:9000
SONAR_TOKEN=sqa_3b166fff2f6bff8acaf6f5ddd3c8d590322214b9
SONAR_PASSWORD=Sonarqube2025.


# Database Configuration
DB_HOST=localhost
DB_NAME=sonar
DB_USER=sonar
DB_PASSWORD=sonar
DB_PORT=5432